body{
    height: 790px;
    width: 560px;
    margin: auto;
    font-size: 11.5px;
    background-color:cornsilk;

}
#body{
    height: 790px;
    width: 560px;
    margin: auto;
    border: 1px solid black;
    border-radius: 15px;
    background-color: cadetblue;
}
footer, p{
    float: left;
}
.right{
    float: right;
}
footer{
    width: 520px;
}
a{
    color: red;
}